body {
    background-image: url(../Assets/Dashboard-Background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

.gridPadding {
  padding-top: 2%;
}
 

h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}